/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/10/2015, 16:18:19
    Author     : armando
*/
@charset "UTF-8";
body{
    background-color: #080808;
    /*background-color: #010a52;*/
    // background-image: url('../images/iucc-banner-web.png');
}

h1{
    font-size: 15pt;
}

li{
    transition: background-color 0.6s ease;
    font-weight: bold;
}

li:hover{
    background-color: white;
}

div#corpo{
    padding-top: 4%;
    width: 92%;
    margin: 1% auto 4% auto;
    //box-shadow: 5px 5px 5px #888888;
}

div#divConteiner{
    box-shadow: 5px 5px 5px #888888;
}

p{
    text-align: justify;
}

div#footer{
    background-color: #080808;
}
div#footer p{
    text-align: center;
    color: whitesmoke;
}

#navMain li{
    background-color: black;
    font-weight: bold;
}
#navMain button{
    background-color: black;
}

#navMain p{
    color: white;
    font-weight: bold;
}

#navMain {
    background-image: url('../images/iucc-banner-web.png');
}

#footer{
    margin-top: 20px
}

#chartdiv {
    width: 100%;
    height: 500px;
    font-size: 11px;
}

h1#titulo-grafico{
    text-align: center;
    color: white;
}

div.container{
    background-color: #f4f4f4;
}
